<div class="container text-center">
    <div class="jumbotron">
        <h2>Pastries</h2>
        <hr>
        <label for="category label">display for</label>
        <select class="custom-select" (change)="getCategoryId($event)">
            <option *ngFor="let category of categories" value="{{category.id_c}}">{{category.c_name}}</option>
        </select>

        <hr>
        <table class="table table-bordered">
            <thead class="table-dark bg-primary">
              <tr>
                <th scope="col">name</th>
                <th scope="col">description</th>
                <th scope="col">price</th>
                <th scope="col">summary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pastry of pastries">
                <th class="table-dark bg-primary" scope="row">{{pastry.p_name}}</th>
                <td>{{pastry.p_desc}}</td>
                <td>{{pastry.p_price}}$</td>
                <td>
                    <button class="btn btn-success" (click)="GeneratePastryReport(pastry)">
                        Download PDF
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>    
</div>